body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin:auto;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 15%;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: rgba(10, 83, 162, 255);;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:rgba(84,196,59,255);
  }
  


