<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital@1&display=swap" rel="stylesheet">
  <title>Cadastro ou Login</title>
  <link rel="stylesheet" href="/acessStyle.css">
</head>
<body>
  
  <header>
    <nav>
        <img class="img" src="/imagem-removebg-preview (1).png" alt="">
        <ul>
            <li><a href="/codeMed/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-house" viewBox="0 0 16 16">
                        <path
                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                    </svg>
                    Home
                </a>
            </li>

            <li>
                <a href="/codeMed/Carrinho">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bag" viewBox="0 0 16 16">
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                    </svg>
                    Sacolinha
                </a>
            </li>
           
        </ul>
    </nav>

</header>
  <main>
    <section class="container">
      <div class="option1">
        <img src="/Cadastro.png" alt="">
        <h2>Novo por aqui?</h2>
        <p>Faça seu cadastro para começar!</p>
        <a href="/codeMed/Cadastro" class="btn">Cadastrar</a>
      </div>
      <div class="option2">
        <img src="/Login.png" alt="">
        <h2>Já tem um registro?</h2>
        <p>Faça o login para acessar sua conta!</p>
        <a href="/codeMed/login" class="btn">Login</a>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 CodeMed Pharma. Todos os direitos reservados.</p>
  </footer>
</body>
</html>