<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra Finalizada</title>
  <link rel="stylesheet" href="/finalStyle.css">
</head>
<body>
  <div class="container">
    <h1>Compra Finalizada</h1>
    <p>Obrigado por sua compra!</p>
    <p>Você receberá um email de confirmação em breve.</p>
    <a href="/codeMed/" class="btn">Voltar para a Página Inicial</a>
  </div>
</body>
</html>

