<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital@1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <nav>
            <img class="img" src="/imagem-removebg-preview (1).png" alt="">
            <ul>
                <li><a href="/codeMed/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                        </svg>
                        Home
                    </a>
                </li>

                <li>
                    <a href="/codeMed/Carrinho">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bag" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                        </svg>
                        Sacolinha
                    </a>
                </li>
                <li><a href="/codeMed/Acesso">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-people" viewBox="0 0 16 16">
                            <path
                                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                        </svg>
                        Login
                    </a></li>
                <li>
                    <a href="#menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                        <div class="dropdown">
                            Menu
                            <div class="dropdown-content">
                                <a href="#dermo">Dermocosméticos</a>
                                <a href="#antibioticos">Antibióticos</a>
                                <a href="#dor">Dor e Lesões</a>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

    </header>


    <div class="container-img">
        <img src="/farmaceutica-jovem-hispanica-sorrindo-confiante-em-pe-com-gesto-de-bracos-cruzados-na-farmacia.jpg"
            alt="">
        <div class="card">
            <h1>CodeMed Pharma</h1>
            <h3><b>Cuidar para Codar</b></h3>
            <p>·Variedade de Produtos: Na CodeMed, você encontrará uma extensa variedade de medicamentos, produtos
                de
                saúde, vitaminas e suplementos alimentares para atender às suas necessidades específicas. <br></p>

            <p>·Atendimento Personalizado: Nossa equipe dedicada de farmacêuticos e profissionais de saúde está aqui
                para
                oferecer orientação personalizada e responder a todas as suas perguntas, garantindo que você receba o
                melhor
                cuidado possível. <br></p>

            <p>·Conveniência e Acessibilidade: Com múltiplas localizações e um serviço de entrega conveniente, estamos
                comprometidos em tornar o acesso aos cuidados de saúde mais fácil e acessível para todos. <br></p>
        </div>
    </div>

    <section>
        <div id="dermo" class="imgBanner">
            <div class="carousel-container">
                <div class="carousel">
                    <div class="carousel-slide">
                        <img src="/banner.img (2).png" alt="Imagem 1">
                    </div>
                    <div class="carousel-slide">
                        <img class="imgLitle" src="/banner.img.png" alt="Imagem 2">
                    </div>
                    <div class="carousel-slide">
                        <img src="/Banner Pixel para Mercado Shops Oferta Produtos Farmácia Drogaria Moderno Vermelho E Amarelo.png" alt="Imagem 3">
                    </div>
                </div>
            </div>

        </div>

    </section>
    </div>
    <div class="menu-title" id="menu">
        <h2 class="menuTheme">Produtos</h2>
    </div>
    <section class="section-menu" > 
        <!-- tipo == "dermocosmeticos"
            th:each dercomosmeticos -->
        <div class="menu-item" th:each="ob:${dermocosmeticos}">
            <img th:src="${ob.imagem}" > 
            <h2 th:text="${ob.nome}"0></h2>
            <p  th:text="${ob.descricao}"></p>
            <p th:text="${ob.preco}"></p>
            <a th:href="@{/codeMed/adicionar-ao-carrinho(lista=${ob.id})}" method="POST" class="btn">Enviar para cesta</a>
        </div>
 </section>  
    <footer id="dor">
        <p>&copy; 2024 CodeMed Pharma. Todos os direitos reservados.</p>
    </footer>
    <script src="/script.js"></script>

</body>

